.classificacao--header{
    background-color: #3b9c00;
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
}
.classificacao--second-header{
    background-color: #fafafa;
    padding: 20px;
    font-size: 25px;
    color: #333;
}