body{
	background-image: url("fome.jpg");
}

h1{
	font-family: Arial;
}
div{
	background-color: black;
	color: white;
}
marquee{
	padding: 5px;
	border:5px solid white;
	border-color: white;
	background-color: black;
}
tr{
	background-color: magenta;
}